{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="card" style="width: 18rem;">
        <img src="{{ object.image|mediapath }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{object.name}}</h5>
            <p class="card-text">{{object.description}}</p>
            <p class="card-text">категория: {{object.category}}</p>
            <p class="card-text">цена: {{object.price}} руб.</p>
            <a href="{% url 'catalog:home' %}" class="btn btn-primary">К товарам</a>
            <a href="{% url 'catalog:update' object.pk %}" class="btn btn-primary">Редактировать </a>
            <a href="{% url 'catalog:delete' object.pk %}" class="btn btn-danger">Удалить продукт </a>
        </div>
    </div>
</div>
{% endblock%}